body {
	background: #ffcce6;
}
lable {
	font-family: Georgia;
	color: white;
	margin-left: 40%;
	font-size: 20px;
}
input {
	padding:2%;
	font-family:Georgia;
	font-size:15px;
	border: none;
	width:96%;
	margin-top: 2px;
	margin-bottom: 2px;
}
textarea {
	padding:2%;
	font-family:Georgia;
	font-size:15px;
	border: none;
	width:96%;
	margin-top: 2px;
	margin-bottom: 2px;
}
button {
	font-size:20px;
	width:45%;
	height:10%;
}
div.header {
	width: 100%;
	height: 30px;
	background: #000033;
	color: white;
	padding: 1%;
}
div.left-panel {
	width: 270px;
	height: 536px;
	background: #8080ff;
	margin-top: 0px;
	margin-bottom: 0px;
}
i {
	padding: 1%;
	margin-top: -10px;
	float: right;
	margin-right: -7px;
}
div.footer {
	width: 100%;
	height: 45px;
	background: #000033;
	margin-top: 0px;
	margin-bottom: 0px; 
}
div.center_area {
	width: 77.5%;
	height: 512px;
	background: white;
	margin-top: -530px;
	margin-left: 280px;
	margin-bottom: 0px;
	border-radius: 5px;
	padding: 10px;
	overflow: scroll;
}
button.logout-btn {
	width: 20px;
	border-radius: 10px;
	float: right;
	padding: 1%;
	margin-top: 0px;
	margin-right: 10px;
}
div.tot_user {
	width: 15%;
	height: 75px;
	background: orange;
	border-radius: 5px;
	padding: 30px;
}
.user-list {
	padding: 1%;
	margin:auto;
}
thead {
	margin: auto;
	background: #8080ff;
	
}
.user_list-tbl {
	width: 400px;
	padding: 2%;
	margin: auto;
}

a {
   text-decoration: none;
   font-size: 20px;
   padding: 2%;
   color: black;
}
.fa-user {
    margin-right: 200px;
}
.btn-circle-success {
	border-radius:50px;
	width:50px;
	height:50px;
	padding: 0px;
	margin: 0px;
	background: green;
}
.btn-circle-danger {
	border-radius:50px;
	width:50px;
	height:50px;
	padding: 0px;
	margin: 0px;
	background: red;
}
.fa-pencil {
	margin-right: 9px;
	margin-top: 2px;
}
.fa-trash {
	margin-right: 12px;
	margin-top: 2px;
}
img {
	border-radius: 50px;
	width: 100px;
	height: 100px;
}
.prod-img {
	width: 200px;
	height: 300px;
}
::-webkit-scrollbar {
  width: 1px;
}
.buy-now {
	width: 150px;
	background: blue;
	color: white;
	padding: 3px;
}
.pay-opt {
    padding: 0%;
    width: 10%;
}

.container{
width:200px;
min-width: 200px;
max-width: 200px;
margin:0px auto;
text-align:center;
}
.container a:active,
.flexslider a:active,
.container a:focus,
.flexslider a:focus  { outline: none; }
.slides,
.flex-control-nav,
.flex-direction-nav {
    margin: 0;
    padding: 0;
    list-style: none;
}
.flexslider a img { outline: none; border: none; }
.flexslider {
    margin: 0;
    padding: 0;
    position: relative;
    zoom: 1;
    padding: 10px;
    background: #ffffff;
    width: 200px;
}
.flexslider .slides > li {
    display: none;
    backface-visibility:hidden;
    -webkit-backface-visibility: hidden;
    width: 200px;
}
.flexslider .slides img {
    width: 200px;
    display: block;
   -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}
.slides:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
html[xmlns] .slides { display: block; }
* html .slides { height: 1%; }
.flexslider .slides { zoom: 1; }
.flex-direction-nav a {
    display: block;
    position: absolute;
    margin: -17px 0 0 0;
    width: 25px;
    height: 25px;
    top: 50%;
    cursor: pointer;
    text-indent: -9999px;
    background-color: #ff6a00;
    opacity: 0.3;
	
}
.flex-direction-nav a:before {
    display: block;
    position: absolute;
    content: '';
	width: 9px;
	height: 13px;
	top: 11px;
	left: 11px;
    background: url(image/arrows.png) no-repeat;
}
.flex-direction-nav a:after {
    display: block;
    position: absolute;
    content: '';
	width: 0;
	height: 0;
	top: 35px;
}
.flex-direction-nav .flex-next {
    right: -5px;
    -webkit-border-radius: 3px 0 0 3px;
    -moz-border-radius: 3px 0 0 3px;
    border-radius: 3px 0 0 3px;
}
.flex-direction-nav .flex-prev {
    left: -5px;
    -webkit-border-radius: 0 3px 3px 0;
    -moz-border-radius: 0 3px 3px 0;
    border-radius: 0 3px 3px 0;
}
.flex-direction-nav .flex-next:before { background-position: -9px 0; left: 15px; }
.flex-direction-nav .flex-prev:before { background-position: 0 0; }
.flex-direction-nav .flex-next:after {
    border-bottom: 5px solid transparent;
	border-left: 12px solid #ff6a00;
}
.flex-direction-nav .flex-prev:after {
    left: 0;
    border-bottom: 5px solid transparent;
	border-right: 16px solid #ff6a00;
	
}
.flexslider .flex-control-nav {
    position: absolute;
    width: 200px;
    bottom: -40px;
    text-align: center;
    margin: 0 0 0 -10px;
}
.flex-control-nav li {
    display: inline-block;
    zoom: 1;
}
.flex-control-paging li a {
    display: none;
    cursor: pointer;
    text-indent: -9999px;
    width: 12px;
    height: 12px;
    margin: 0 3px;
    background-color: #b6b6b6 \9;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    -webkit-box-shadow: inset 0 0 0 2px #b6b6b6;
    -moz-box-shadow: inset 0 0 0 2px #b6b6b6;
    box-shadow: inset 0 0 0 2px #b6b6b6;
}
.flex-control-paging li a.flex-active {
    background-color: #ff6a00;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    display: none;
}